[Desktop Entry]
Type=Application
Version=1.0
Name=Update system (Perform)
GenericName=Update system (Perform)
Icon=update-medium-symbolic
Exec=kw upgrade
Terminal=true
Categories=System;ConsoleOnly;
Keywords=system;update;upgrade;refresh
