[Desktop Entry]
Type=Application
Version=1.0
Name=Update system (Only check)
GenericName=Update system (Only check)
Icon=update-none-symbolic
Exec=kw update --wait
Terminal=true
Categories=System;ConsoleOnly;
Keywords=system;update;upgrade;refresh
