[customizations.installer.kickstart]
contents = """
%post
bootc switch --mutate-in-place --transport registry ghcr.io/roworu/kyawthuite-gnome-nvidia:latest
mokutil --import /secureboot/MOK.der --password password
%end
"""

[customizations.installer.modules]
enable = [
  "org.fedoraproject.Anaconda.Modules.Storage",
  "org.fedoraproject.Anaconda.Modules.Runtime",
  "org.fedoraproject.Anaconda.Modules.Network",
  "org.fedoraproject.Anaconda.Modules.Security",
  "org.fedoraproject.Anaconda.Modules.Services",
  "org.fedoraproject.Anaconda.Modules.Users",
  "org.fedoraproject.Anaconda.Modules.Subscription",
  "org.fedoraproject.Anaconda.Modules.Timezone"
]
#disable = [
#  "org.fedoraproject.Anaconda.Modules.Network",
#  "org.fedoraproject.Anaconda.Modules.Security",
#  "org.fedoraproject.Anaconda.Modules.Services",
#  "org.fedoraproject.Anaconda.Modules.Users",
#  "org.fedoraproject.Anaconda.Modules.Subscription",
#  "org.fedoraproject.Anaconda.Modules.Timezone"
#]
