[Unit]
Description=Ensure DE works out of the box
Before=graphical-session.target

[Service]
Type=oneshot
ExecStart=/usr/libexec/de-setup.sh
RemainAfterExit=true

[Install]
WantedBy=default.target
