[Unit]
Description=Trigger DMS greeter sync
PartOf=graphical-session.target
Requires=dms.service
After=dms.service graphical-session.target

[Service]
Type=oneshot
ExecStart=/usr/libexec/dms-greeter-sync-trigger.sh

[Install]
WantedBy=graphical-session.target
